@import '@mixin/submitButton.mixin.scss';
@import '@mixin/headerText.mixin.scss';
@import '@mixin/settingsTextInput.mixin.scss';

@mixin article-wrapper {
    padding: 20px 20px;
    border: 1px solid var(--dark-green);
    background-color: #18333d;
    box-shadow: 0 0 2px 4px rgba($color: #000000, $alpha: .1);
    border-radius: 10px;
}

.settings__page {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include header-text;
    }

    .public__info {
        width: 80%;

        
        .user-main-info {
            @include article-wrapper;
            margin-bottom: 20px;
            
            .main-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .photo__uploader {

                    input[type="file"] {
                        display: none;
                    }
                    
                    img {
                        height: 200px;
                        cursor: pointer;
                    }
                }
                .info {
                    .info__name, 
                    .info__email, 
                    .info__username {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 16px;
    
                        p {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }

            .socials {
                .social-networks {
                    list-style: none;
                    padding: 0;
                    margin-left: 20px;
                    width: 400px;

                    li {
                        display: flex;
                        align-items: center;

                        p {
                            margin: 0;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
        .submit-profile {
            width: 100%;
            display: flex;
            justify-content: center;

            .submit-profile-changes {
                max-width: 400px;
                @include submit-button;
            }
        }
    }

    .password__info {
        width: 80%;
        position: relative;
        z-index: 1;

        .password__form {
            @include article-wrapper;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            input, input::placeholder {
                @include text-input;
                width: 100%;
            }

            .password {
                margin-bottom: 10px;
            }
            .password, .rePassword {
                display: flex;
                width: 70%;
                background-color: var(--dark-green);
                border-radius: 10px;
                padding-right: 5px;
            }

            .visibility-contorller {
                border: none;
                outline: none;
                background-color: inherit;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 0;
                margin-right: 10px;
            }
        }

        .submit-password {
            width: 100%;
            display: flex;
            justify-content: center;

            .submit-password-changes {
                max-width: 400px;
                @include submit-button;
            }

        }

        .alert-message {
            background-color: #f92424;
            border-radius: 10px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;

            p {
                margin: 0;
            }
        }
    }
}