$chat-bar-width: 258px;

.left-sidebar {
    width: 329px;
    height: 100%;
    display: flex;

    .left-sidebar__groups-bar {
        width: calc(329px - $chat-bar-width);
        background-color: #000000;
        opacity: .7;
        mix-blend-mode: normal;
    }

    .left-sidebar__chats-bar {
        display: flex;
        flex-direction: column;
        background-color: #25272A;
        height: 100%;
        width: $chat-bar-width;
        opacity: .75;
        mix-blend-mode: normal;
    }
}