@import '../index.scss';

label[for="name"],
label[for="sername"],
label[for="username"],
label[for="email"],
label[for="password"] {
    display: flex;
    flex-direction: column;

    p {
        cursor: pointer;
        margin: 0;
    }

    input {
        margin-top: 10px;
    }
}