.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 81px);

    .chat__messages {
        position: relative;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: flex-end;
    }
}
