@mixin active-button {
    background-color: initial;
    border-bottom: 1px solid var(--dark-green);
}

.smiles__list {
    position: absolute;
    top: -205px;
    right: 5px;
    height: 200px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    
    .emoji__groups {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .group__button {
            border-radius: 0px !important;
            background-color: none;
            white-space: nowrap;
            border-bottom: 1px solid #fff;
            padding: 0 5px;
            margin: 5px 2px;

            &:hover {
                @include active-button;
            }
        }

        .active {
            @include active-button;
        }
    }

    .emoji__list {
        padding: 0 5px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;

        .emoji {
            text-align: center;
            width: 25px;
            cursor: pointer;
        }
    }
}