$chat-bar-width: 258px;

.left-sidebar {
    width: 329px;
    height: 100%;
    display: flex;

    .left-sidebar__groups-bar {
        width: calc(329px - $chat-bar-width);
        background-color: aqua;
    }

    .left-sidebar__chats-bar {
        display: flex;
        flex-direction: column;
        background-color: red;
        height: 100%;
        width: $chat-bar-width;
    }
}