.modal-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: .5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-container {
        padding: 15px;
        width: 400px;
        min-height: 300px;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal__title {
            margin: 0 0 20px;
            font-weight: bold;
            font-size: 1.5rem;
        }

        .model__textarea {
            resize: none;
            height: 190px;
            margin-bottom: 10px;
            outline: none;
            border: none;
            background-color: #e2e2e2;
            padding: 10px;
        }

        .modal__confirm-btn {
            text-align: right;
            
            .confitm-btn {
                font-weight: thin;
                margin: 0 10px;
                border: none;
                padding: 5px 10px;
                border-radius: 10px;
                cursor: pointer;
            }

            .accespt {
                color: #fff;
                background-color: var(--dark-green);
            }
        }
    }
}