* {
    box-sizing: border-box;
}

:root {
    --dark-green: #224957;
}

body {
    cursor: default;
    margin: 0;
    font-family: 'Lato',sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    textarea {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba($color: #000000, $alpha: .2);
        border-radius: 10px;
        cursor: pointer;
    }
    
    #root {
        height: 100%;
        width: 100%;
    }
}